# Base
numpy
pandas

# Hugging Face + PyTorch
transformers
torch
sentencepiece
sacremoses

# TensorFlow + Audio
tensorflow
tensorflow-hub
librosa
soundfile

# Image
torchvision
pillow
matplotlib
tqdm

# Video
opencv-python
ultralytics

# API
fastapi
uvicorn

# Jupyter
notebook
jupyter

# Дополнительно (удобные утилиты)
scikit-learn

pytest
pydantic

# Core
sentence-transformers

# Web
jinja2

nltk